* {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: cornflowerblue;
}
section {
    display: flex;
    padding: 0;
    margin:0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.header {
    display: flex;
}
.hidden {
    display: none;
}

.container {
    width: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.grid {
    display: grid;
    gap: 15px;
    margin: 30px 60px;
}
.button {
    text-align: left;
    border: 1px solid rgb(0, 144, 192);
    background-color: deepskyblue;
    outline: none;
}

.start_button, .next_button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 25px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    border-color: black;
}
.correct {
    background-color: green;
}
.wrong {
    background-color: red;
}
#score {
    padding-left: 10px;
    padding-right: 10px;
}